footer {
    padding: 20px 100px;
    background-color: $bg-footer;

    .nav-link {
        font-size: 14px;
    }

    .social-media {
        svg {
            cursor: pointer;
            fill: #fff;

            &:hover {
                fill: $primary;
            }
        }
    }
}